@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <button id="createBtn">Create New</button>
    <table>
        <thead>
            <tr>
                <th>
                    Is Complete?
                </th>
                <th>
                    Task
                </th>
                <th>
                    Details
                </th>
                <th>
                    Due Date
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="todoTableData"></tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        getTodos();
    </script>
}